
.button{
    height: 60px;
    width: 80px;
    padding: 5px;
    text-align: center;
    background-color: black;
    border: 1px solid lightgrey;
    border-radius: 9px;
    color: #ccc;
    font-weight: 400;
    transition: 0.4s;
    
}
.button:hover{
    opacity: 0.8;
}