.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  background-color: #eee;
  height: 100vh;
}
@media screen and (min-width : 650px){
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}